<% provide(:title, "Play Time") %>
<h1>Play Time</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<% f.submit "Play Time", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>New dog? <%= link_to "Join the pack!", join_path %></p>
	</div>
</div>